#main-carousel {
    /* margin: 0 auto; */
    width: 103%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,0,0);
}
nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}

.container {
    margin: 0 auto;
    width: 75%;
}

.razmer {
    padding: 0;
}

.img_2 {
    width: 100%;
    cursor: pointer;
}

.img {
    margin-top: 100px;
    padding-bottom: 100px;
}


@media screen and (max-width: 767px) {
    .footer-gallery>div>div input:last-child {
        margin-top: 15px;
    }
}
#bgi{
	background-image: url(img/background.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}











@media (min-width: 440px) and (max-width: 575px) {
	#logo {
		margin-left: 210px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 225px;
	}

}
@media (min-width: 411px) and (max-width: 440px) {
	#logo {
		margin-left: 155px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 170px;
	}
}
	
	@media (max-width: 330px) {
		#logo {
			margin-left: 90px;
		}
	
		#lines_3 {
			margin-top: 50px;
			margin-left: 105px;

}
}
@media (max-width: 411px) {
	#logo {
		margin-left: 130px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 145px;
	}

}