img {
	user-select: none;
}

nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}
#bgi{
	background-image: url(img/background.jpg);
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 420px) {
	#vst {
		text-align: center;
	}
}
