img {
	user-select: none;
}

nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}
#bgi{
	background-image: url(img/background.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 420px) {
}
img {
	user-select: none;
}

nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}

#collapsibleNavbar {
	margin-left:  185px;
}

#carouselExampleSlidesOnly {
	margin-top: 150px;
	margin-bottom: 150px;
}



#carouselExampleSlidesOnly img {
	height: 530px;
}







@media (min-width: 320px) and (max-width: 540px) {
	#carouselExampleSlidesOnly {
		width: 100%;
	}


}

@media (max-width: 1199px) {
	#collapsibleNavbar {
		margin-left: 110px;
	}


}
@media (min-width: 440px) and (max-width: 575px) {
	#logo {
		margin-left: 210px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 225px;
	}
	#collapsibleNavbar {
		margin-top: 20px;
		margin-left: 165px;
	}
}
@media (min-width: 411px) and (max-width: 440px) {
	#logo {
		margin-left: 155px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 170px;
	}
	#collapsibleNavbar {
		margin-top: 20px;
		margin-left: 110px;
	}
	@media (max-width: 330px) {
		#logo {
			margin-left: 90px;
		}
	
		#lines_3 {
			margin-top: 50px;
			margin-left: 105px;
		}
	
		#collapsibleNavbar {
			margin-top: 20px;
			margin-left: 45px;
		}
	}
}
@media (max-width: 411px) {
	#logo {
		margin-left: 130px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 145px;
	}

	#collapsibleNavbar {
		margin-top: 20px;
		margin-left: 85px;
	}
}
#im2_g {
	margin-top: 10px;
}
#im1_g {
    margin-top: 100px;
}
.img {
    width: 280px;
    height: 180px;
}
@media (max-width: 1200px) {


	#im1_g {
        margin-top: 100px;
    }
    #im2_g {
        margin-top: 10px;
	}
}
.img {
	width: 150px;
	height: 100px;
}
@media (max-width: 425px) {

	#im1_g {
        margin-top: 100px;
    }
    #im2_g {
        margin-top: 10px;
	}
	.img {
        width: 330px;
        height: auto;
        vertical-align: super;
        margin-left: -10px;
    }
}